@import './variables';


.esh-app {

    &-header {
        background: url('/assets/images/header.jpg') center -2.7rem no-repeat, linear-gradient(90deg, #5F6571 0%, #5F6571 35%, #CFC6BF 65%, #CFC6BF 100%);
        background-size: 94rem, auto;
        height: 100%;
        padding-top: 2.25rem;
        position: relative;
        transition: all $animation-speed-default;

        &--expanded {
            background-position: center top;
            background-size: 87rem, auto;
            height: 29rem;

            .esh-app-header-promo {
                opacity: 1;
            }
        }
    }

    &-header-brand {
        height: auto;
        width: 92px;
    }

    &-header-promo {
        bottom: 3.5rem;
        opacity: 1;
        text-align: center;
        transition: all $animation-speed-default;
        width: 100%;
        padding: 8rem 0 4rem 0;
    }

    &-header-promo-title {
        display: block;
        color: rgba($color-brightest, .3);
        font-size: 5rem;
        line-height: 5rem;
        word-wrap: none;

        @media screen and (min-width: $media-screen-s) {
            font-size: 9rem;
            line-height: 9rem;
        }
    }

    &-header-promo-subtitle {
        display: block;
        color: $color-brightest;
        font-size: $font-size-xxl;
    }

    &-footer {
        background-color: $color-secondary-bright;
        color: $color-brightest;
        font-size: $font-size-m;
        display: flex;
        height: 7rem;

        margin-top: 4em;

        &-brand {
            height: auto;
            width: 104px;
        }
    }
}

@media (min-width: 1000px) {
    .container {
        max-width: 1140px;
        margin: auto;
        width: 100%;
    }
}

.item-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-at-bottom{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}